[Unit]
Description=Lab4 Service
After=network.target

[Service]
User=www-data
ExecStart=/opt/lab4-service/service.sh
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
